MessagesFacade-ejb/src/wsdl/MessagesFacadeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://burov.iflex.ru/facade/ws" name="MessagesFacadeService"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://burov.iflex.ru/facade/ws"
             xmlns:m="http://burov.iflex.ru/facade"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://burov.iflex.ru/facade" schemaLocation="MessagesFacadeService.xsd"/>
        </xsd:schema>
    </types>

    <message name="GetMessageByDateRequest">
        <part name="request" element="m:GetMessageByDateRequest"/>
    </message>
    <message name="GetMessageByDateResponse">
        <part name="response" element="m:GetMessageByDateResponse"/>
    </message>

    <message name="GetMessageBySenderRequest">
        <part name="request" element="m:GetMessageBySenderRequest"/>
    </message>
    <message name="GetMessageBySenderResponse">
        <part name="response" element="m:GetMessageBySenderResponse"/>
    </message>

    <message name="GetAllMessagesRequest">
        <part name="request" element="m:GetAllMessagesRequest"/>
    </message>
    <message name="GetAllMessagesResponse">
        <part name="response" element="m:GetAllMessagesResponse"/>
    </message>

    <message name="AddMessageRequest">
        <part name="request" element="m:AddMessageRequest"/>
    </message>
    <message name="AddMessageResponse">
        <part name="response" element="m:AddMessageResponse"/>
    </message>

    <message name="RemoveMessageRequest">
        <part name="request" element="m:RemoveMessageRequest"/>
    </message>
    <message name="RemoveMessageResponse">
        <part name="response" element="m:RemoveMessageResponse"/>
    </message>

    <portType name="MessagesFacadePortType">
        <operation name="GetMessageByDate">
            <input message="tns:GetMessageByDateRequest"/>
            <output message="tns:GetMessageByDateResponse"/>
        </operation>

        <operation name="GetMessageBySender">
            <input message="tns:GetMessageBySenderRequest"/>
            <output message="tns:GetMessageBySenderResponse"/>
        </operation>

        <operation name="GetAllMessages">
            <input message="tns:GetAllMessagesRequest"/>
            <output message="tns:GetAllMessagesResponse"/>
        </operation>

        <operation name="AddMessage">
            <input message="tns:AddMessageRequest"/>
            <output message="tns:AddMessageResponse"/>
        </operation>

        <operation name="RemoveMessage">
            <input message="tns:RemoveMessageRequest"/>
            <output message="tns:RemoveMessageResponse"/>
        </operation>
    </portType>

    <binding name="MessagesFacadeServicePortBinding" type="tns:MessagesFacadePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="GetMessageByDate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetMessageBySender">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetAllMessages">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="AddMessage">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="RemoveMessage">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="MessagesFacadeService">
        <port name="MessagesFacadeService" binding="tns:MessagesFacadeServicePortBinding">
            <soap:address location="http://localhost:8080/MessagesFacadeService"/>
        </port>
    </service>

</definitions>